body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar {
    background-color: #0284c7;
    gap: 40px;

}

.logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: large;
    gap: 10px;
    padding-left: 20px;
    color: white;
    font-size: 30px;
}

.menu> ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding-left: 20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.menu> ul:nth-child(1) {
    margin-bottom: 50px;
    margin-top: 40px;
}

.menu>ul>li {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-topright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
}

.right-logo {
    display: flex;
    gap: 22px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}


.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
}

.search-bar {
    width: 600px;
    height: 30px;
    background-color: #d7d9db;
    border-radius: 25px;
    border: none;
}

.header-bottomright {
    display:flex;
    align-items: center;
    margin-left: 150px;
    gap: 22px;
    
}

.header-bottomright>div>p {
    font-weight: 600;
    margin-bottom: 12px;
}

.header-bottomleft {
    display: flex;
    gap: 22px;
    margin-right: 150px;
}

button {
    width: 100px;
    height: 40px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(66, 133, 209);
    border-radius: 25px;
    border: 0;
}

.main-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(228, 234, 240);
    padding-right: 20px;
    box-shadow: inset 0em 0.2em 6px rgb(173, 172, 172);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    gap: 25px;

}

.project {
    padding-left: 20px;
    padding-right: 20px;
}

.card {
    width: auto;
    height: 200px;
    background-color: white;
    border-left: 10px orange solid;
    border-radius: 10px;
    padding-left: 20px;
}

.card-text {
    margin-top: 0;
    padding-right: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 36px;
}

.card-icons {
    text-align: right;
    margin-right: 25px;
}

.card-icons>img {
    padding-left: 10px;
}

.announce-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    line-height: 14px;
    font-size: 12px;
}

.announce-title {
    font-size: 14px;
    font-weight: 600;

}

.headings {
    font-size: 22px;
    font-weight: 600;
}