body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar {
    background-color: #0284c7;
    gap: 40px;

}

.logo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: large;
    gap: 10px;
    padding-left: 20px;
    color: white;
    font-size: 30px;
}

.menu> ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding-left: 20px;
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.menu> ul:nth-child(1) {
    margin-bottom: 50px;
    margin-top: 40px;
}

.menu>ul>li {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.main {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-topright {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-logo {
    display: flex;
}

.header-bottom {
    display: flex;
}

.search-bar {
    width: 600px;
    height: 20px;
    background-color: #d7d9db;
    border-radius: 25px;
    border: none;
}